html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    height: 100%;
}

#container {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: #707070;
    border-radius: 10px;
    border: 10px solid #3b3b3b;
    width: 500px;
    height: 500px;
}

.circle {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #e00000;
    border: 1px solid #000000;
    border-radius: 50%;
}

#gui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b9b9b950;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 10px solid #1a1a1a;
}

.slider {
    margin-top: 10px;
    margin-bottom: 30px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #302e2e;
    width: 100%;
    height: 20px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #8d8a8a;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.label {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b1b1b;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#color_picker {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(58, 58, 58);
    border-radius: 14px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#color_picker::-webkit-color-swatch {
    border: 0px;
    border-radius: 10px;
}

#start_button {
    margin-top: 10px;
    width: 300px;
    height: 100px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: #1d1d1d;
    font-weight: bold;
    background-color: #7e7e7e;
    border-radius: 10px;
    border: 10px solid #3b3b3b;
    cursor: pointer;
    transition: .2s;
}
